aiofiles==23.1.0
annotated-types==0.5.0
asgiref==3.7.2
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.1.0
Babel==2.9.1
boto==2.49.0
brotlipy==0.7.0
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlog==6.7.0
cryptography @ file:///tmp/build/80754af9/cryptography_1639414572950/work
Django==4.2.4
django-extensions==3.2.3
django-markwhat==1.6.2
django-sslserver==0.22
dnspython @ file:///tmp/abs_1akw6hh382/croots/recipe/dnspython_1659712632116/work
frozenlist==1.4.0
gunicorn==21.2.0
packaging==23.1
phonenumbers==8.13.18
psycopg2 @ file:///croot/psycopg2_1687443444440/work
psycopg2-binary==2.9.6
pyaes==1.6.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytz==2023.3
pyzmq==23.2.1
requests @ file:///opt/conda/conda-bld/requests_1641824580448/workk
sqlparse @ file:///croot/sqlparse_1690901927333/work
Werkzeug==2.3.6

