{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frolovs` Cake</title>
    
    <link rel="stylesheet" href="/static/webapp/app.css?{% now 'U' %}">

</head>
<body>
    <div class="first_page">
        <h1 class="name item">Frolovs` Cake</h1>
        <button id="menu"><span class="menu_text">меню</span></button>
        <button id="order"><span class="order_text">заказ</span></button>
    </div>
    <div class="menu">
        
            {% for find in dishes%}
            <div class="dish">
                <h2 class="dish_name d">{{find.name}}</h2>
                <p class="desc d">{{find.desc}}</p>
                <p class="price d">{{find.price}} рублей</p>
            </div>
            {% endfor %}
        
    </div>
    
    <script>
        
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'webapp/move.js' %}"></script>
</body>
</html>